*
{
    font-family: 'Poppings', sans-serif;
}

body
{
 background: url('../img/estacionamento_img.png') no-repeat;
 background-size: cover;
  
}
    
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
    
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
    
  .dropdown {
   float: left;
   overflow: hidden;
  }
    
  .dropdown .dropbtn {
   font-size: 16px;  
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
  }
    
  .navbar a:hover, .dropdown:hover .dropbtn {
   background-color: rgba(255, 230, 2, 0.932);
  }
    
  .dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
  }
    
  .dropdown-content a {
   float: none;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
  }
    
  .dropdown-content a:hover {
   background-color: #ddd;
  }
    
  .dropdown:hover .dropdown-content {
   display: block;
  }

  .frame_responsivo
  {
    overflow: hidden;
    display: block;
    border: none;
    height: 100vh;
    width: 100vw;
  }

.cbc_container
{
    color: rgb(255, 255, 255);
    background-color: #333;
    
}
  
.container{
  background-color:gold;
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#form1
{
  background-color: gold;
  color: #333;
  
  margin-left: auto;
  margin-right: auto;
}

fieldset
{
  border: none;
}
 
